extends layout.pug

block contents
  div(id='adminWrap')
    div(class='areaTitle')
      h2 admin
    div(class='areaRegister')
      div(class='inputBox')
        div(class='item')
          input(type='text' name='name' placeholder='site name')
        div(class='item')
          input(type='text' name='googlePlayAppId' placeholder='googleplay id')
        div(class='item')
          input(type='text' name='appStoreId' placeholder='appstore id')
        div(class='item')
          input(id='fileUploadInput'
            type='file'
            name='image'
            multiple='multiple'
            accept='.jpg,.jpeg,.png,.gif')
          span(id='uploadImage')
      div(class='btnRegisterBox')
        button(id='fileUploadSubmit' class='btnRegister') register
    ul(class='areaList')
      -for (var i=0, len = sites.length; i < len; i++)
        li
          a(href='/'+sites[i].name title=sites[i].name+' 리뷰 보러가기')
            span(class='top')
              span(class='num') /* #{i + 1} */
              //span(class='btnArea')
                button(class='btnModify') modify
                if (sites[i].name == 'hmall' || sites[i].name == 'thehyundai')
                else 
                  button(class='btnDelete') delete
            span(class='middle')
              span(class='line')
                span(class='point') {
              span(class='line')
                span(class='inner') "name" #[span(class='point') :] "#{sites[i].name}"
              span(class='line')
                span(class='inner') "googlePlayAppId" #[span(class='point') :] "#{sites[i].googlePlayAppId}"
              span(class='line')
                span(class='inner') "appStoreId" #[span(class='point') :] #[span(class='int') #{sites[i].appStoreId}]
              span(class='line')
                span(class='inner') "image" #[span(class='point') :] #[span(class='ellipsisTxt') #{sites[i].image}]
              span(class='line')
                span(class='point') }

block script
  script.
      $(function() {
        adminSet();
      });